@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap');

h1 {
    font-family: 'Ubuntu', sans-serif;
    text-decoration: underline;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size:20px;
}

h3 {
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: blanchedalmond;
}

p {
    font-family: 'Ubuntu', sans-serif;
}

ul {
    font-family: 'Ubuntu', sans-serif;
}

input {
    font-family: 'Ubuntu', sans-serif;
}

div {
    font-family: 'Ubuntu', sans-serif;
}

button {
    background-color: bisque;
    font-family: 'Ubuntu', sans-serif;
}
